<!DOCTYPE html>
<html>
<head>
  <title>Books</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <% if user_signed_in? %>
      <div class="row nav">
        <div class="col-ms-8 col-md-offset-2">
          <%= link_to "Books last week", last_books_path%>
          <%= link_to "All Books", books_path%>
          <%= link_to "New Book", new_book_path %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete%><br />
          <%= current_user.email%>
          <%= Date.today %>
          <% if current_user.admin? %>
            <%= link_to "Admin Panel", rails_admin_path %>
          <% end %>
        </div>
        <div class="col-md-2">
          <div class="category">
            <ul>
              <% Category.all.each do |c| %>
                <li>
                  <%= link_to "#{c.name}", category_path(c) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    <%if notice%>
      <div class="row">
        <div class="col-ms-8 col-md-offset-2">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-9 col-md-offset-2">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
